body
{
    margin: 0px; 
    padding: 0px;
    /*background-color: #DDDDDD;*/
    background-color: #FFFFFF;
    font-family: STHeiti, Heiti SC, tohoma, arial
}

.center480
{
    width: 480px; 
    margin: 0 auto; 
    border: 0px dashed #DADADA;
    background-color: #FFFFFF;
}

.image-box
{
    padding: 5px;
    border: 0px dashed #000000;
    text-align: center;

    margin: 0 auto;
}

.image-box img
{
    display: inline-block;
}

.text-box
{
    padding: 3px;
    margin: 5px;
    border: 0px dashed #000000;
}

.text-box textarea
{
    border: 0px;
    resize: none;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
}

.cutter
{
    margin: 0 auto;
    width: 468px;
    height: 1px;
    background-color: #555555;
}
