body
{
    margin: 0px; 
    padding: 0px;
    background-color: #DDDDDD;
    font-family: STHeiti, tohoma, arial
}

.center520
{
    width: 520px; 
    margin: 0 auto; 
}

.center480
{
    width: 480px; 
    margin: 0 auto; 
    border: 2px dashed #DADADA;
}

.bg-title-bright
{
    background-color: #DF7F43; 
}

.bg-content-bright
{
    background-color: #FFFFFF;
}

.text-bright
{
    color: #FFFFFF;
}

.box-highlight
{
    padding: 5px;
    margin: 5px;
    border: 3px solid #000000;
    background-color: #000000;
}

.image-box
{
    padding: 5px;
    border: 3px dashed #000000;
    text-align: center;
    margin: 0 auto;
}

.image-box img
{
    display: inline-block;
}

.text-box
{
    padding: 3px;
    margin: 5px;
    border: 3px dashed #000000;
}

.text-box textarea
{
    border: 0px;
    resize: none;
    width: 100%;
    /*line-height: 16px;*/
    /*font-size: 16px;*/
}

.autohint
{
    color: #AAAAAA;
}

.tool-box
{
    list-style: none; 
    padding : 0; 
    margin : 0;  
    overflow: hidden;
}

.tool-button
{
    font-family: Heiti SC;
    cursor: pointer;
}

.tool-button-text
{
    text-align: center;
    font-size: 23px;
    line-height: 50px;
}

.tool-button:last-child
{
}


.inplace-button
{
    cursor: pointer;
    opacity: 0;
    display: block;
}

.remove-button
{
    position: absolute;
    right: 3px;
    top: 3px;
}

/* tag */
.style-button
{
}

/* tag */
.position-button
{
}

/* tag */
.user-image
{
}

/* style presets */
.style-1
{
    font-size: 16px;
    line-height: 16px;
}

.style-2
{
    font-size: 24px;
    line-height: 24px;
}

.style-3
{
    font-size: 36px;
    line-height: 36px;
}

.align-1
{
    text-align: left;
}

.align-2
{
    text-align: center;
}

